* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
  --bg: #0a0f3d;
  --bg-2: #f6f7fb;
  --surface: #ffffff;
  --text: #1f2430;
  --muted: #5b6475;
  --brand: #1f4af4;
  --brand-600: #1737b8;
  --border: 1px solid rgb(0 0 0 / .12);
}

body{
  color: var(--text);
  background: var(--bg-2);
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans";
}

nav{
  background-color: var(--bg);
  padding: 10px;
}

nav a{
  color: var(--surface);
  display: block;
  padding: 20px;
  text-decoration: none;
}

h1{
  color: var(--brand);
}

img{
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p{
  padding: 0;
}

main{
  max-width: 840px;
  margin: 0 auto;
}

aside{
  width: 20rem;
  text-align: center;
}

aside img{
  width: 200px;
  height: auto;
}
aside h2 {
  position: relative;
  top: 1px;       /* distancia desde arriba de la imagen */
  text-align: center; /* centra el texto horizontalmente */
  }


footer{
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
  padding: 8px 0;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
main img {
  /* you most likely will have other CSS declarations here */
  float: right;}